/*VARIABLES*/

$coloDeFondo:rgb(255, 215, 134);
$imagenDeFondo: url("../img/moderna-fondo-body.webp");
$colorBotones:black;
$tipografia:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',             'Lucida Sans', Arial, sans-serif;
